#balls-3d-assets {
	position: absolute;
	visibility: hidden;
	z-index: -1;
}

.options-3d {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.options-3d-button {
	font-size: 20px;
	text-decoration: none;
	float: right;

	opacity: 1;
	transition: opacity 1s;
}

.options-3d-window {
	background-color: #fff;
	color: #000;
	width: 500px;
	border-radius: 3px;
	border: 2px solid #333;
}
	.options-3d-header {
		border-bottom: 1px solid #333;
		padding: 5px 10px;
	}

	.options-3d-header .actions {
		float: right;
		padding: 5px;
		margin-right: 15px;
	}

	.options-3d-header .actions .reset {
		color: #ccc;
		font-size: 80%;
		line-height: 20px;
		text-decoration: none;
	}

	.options-3d-header .text-3d {
		position: relative;
		top: -3px;
		left: -3px;
	}

	.options-3d-header .close {
		float: right;
		text-decoration: none;
		color: #ccc;
		line-height: 20px;
		font-size: 20px;
		padding: 5px;
	}

	.options-3d h1,
	.options-3d h2,
	.options-3d h3 {
		margin: 0;
		padding: 0;

		/* override tagpro styles */
		background: none;
		width: auto;
		height: auto;
	}

	.options-3d h1 { font-size: 26px; }
	.options-3d h2 { font-size: 14px; }
	.options-3d h3 { font-size: 12px; }

	.options-3d h1 > span,
	.options-3d h2 > span,
	.options-3d h3 > span {
		display: inline;
	}

.options-3d-content {
	padding: 5px 10px;
	max-height: 500px;
	overflow: auto;
}

	.options-3d-content label {
		display: block;
	}

	.options-3d-content a {
		color: black;
	}

.options-3d .texture {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
}

.options-3d .texture img {
	width: 100%;
	height: 100%;
}

.options-3d .texture-input-wrapper {
	padding: 5px;
}

.options-3d .texture-input {
	width: 100%;
	box-sizing: border-box;
}

.text-3d {
	color: #ACE600;
		text-shadow: 1px 1px #608100,
		2px 2px #608100,
		3px 3px #608100;
}

.options-3d .hidden {
	display: none;
}

.options-3d .invisible {
	opacity: 0;
}

.option-image {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	padding-right: 5px;
}

.option-label { }

.option-item-image {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 5px;
}

.selectize-control {
	position: static;
}

.selectize-dropdown [data-selectable] {
	white-space: nowrap;
	/*display: inline-block;*/
}