.options-3d-preview {
	display: flex;
}

.options-3d-muted {
	color: #aaa;
}

.options-3d-preview-red,
.options-3d-preview-blue {
	flex: 1;
	text-align: center;
	padding: 3px;
}

.options-3d-preview-red {
	background-color: rgba(255, 0, 0, 0.2);
}

.options-3d-preview-blue {
	background-color: rgba(0, 0, 255, 0.2);
}

.options-3d-preview-ball {
	vertical-align: middle;
}

.options-3d {
	margin: 10px auto;
	width: 570px;
	background-color: #eee;
	color: #000;
	border-radius: 5px;
	border: 2px solid #333;
}

	.options-3d-header {
		border-bottom: 1px solid #333;
		padding: 5px 10px;
	}

	.options-3d-header .actions {
		float: right;
		padding: 5px;
		margin-right: 15px;
	}

	.options-3d-header .text-3d {
		position: relative;
		top: -3px;
		left: -3px;
	}

	.options-3d-header .close {
		float: right;
		text-decoration: none;
		color: #333;
		line-height: 20px;
		font-size: 20px;
		padding: 5px;
	}

	.options-3d h1,
	.options-3d h2,
	.options-3d h3 {
		text-align: left;
		margin: 0;
		padding: 0;

		/* override tagpro styles */
		background: none;
		width: auto;
		height: auto;
	}

	.options-3d h1 { font-size: 26px; }
	.options-3d h2 { font-size: 14px; }
	.options-3d h3 { font-size: 12px; }

	.options-3d h1 > span,
	.options-3d h2 > span,
	.options-3d h3 > span {
		display: inline;
	}

.options-3d-content {
	padding: 5px 10px;
	overflow: auto;
}

	.options-3d-content > label {
		padding: 5px;
		display: block;
	}

		.options-3d-content > label > span > .reset {
			display: none;
		}

		.options-3d-content > label.changed > span > .reset {
			display: block;
			float: left;
			text-decoration: none;
			color: #aaa;
		}

		.options-3d-content > label > span {
			display: inline-block;
			width: 180px;
			text-align: right;
			padding: 5px 10px;
		}

		.options-3d-content > label.changed > span {
			font-style: italic;
		}

	.options-3d-content > label > input {
		vertical-align: middle;
	}

	.options-3d-content a {
		color: black;
	}

.options-3d .texture {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
}

.options-3d .texture img {
	width: 100%;
	height: 100%;
}

.options-3d .texture-input {
	width: 100%;
	box-sizing: border-box;
}

.option-thumbnail {
	position: relative;
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

	.option-thumbnail img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		transform: translate(-50%, -50%);
	}

.option-item-image {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding-right: 5px;
}

.selectize-control {
	position: static;
}

.selectize-dropdown [data-selectable] {
	white-space: nowrap;
	/*display: inline-block;*/
}