<div class="options-3d">
	<div class="options-3d-header">
		<a href="#" class="close" on-click="close">&times;</a>
		<div class="actions">
			<button class="reset" on-click="reset-options">Reset</button>
		</div>
		<h1>
			<span class="text-3d">Balls 3D</span> Settings
		</h1>
	</div>

	{{#with options}}
	<div class="options-3d-content">
		<div class="options-3d-preview">
			<label class="options-3d-label options-3d-preview-red">
				{{#each options.texturesRed}}
					<Preview texture="{{.}}" />
				{{/each}}
			</label>

			<label class="options-3d-label options-3d-preview-blue">
				{{#each options.texturesBlue}}
					<Preview texture="{{.}}" team="2" />
				{{/each}}
			</label>
		</div>

		<label class="options-3d-label">
			Red textures
			<input id="texturesRed" type="text" name="red-textures" class="texture-select" value="{{redTexturesString}}" />
		</label>

		<label class="options-3d-label">
			Blue textures
			<input id="texturesBlue" type="text" name="blue-textures" class="texture-select" value="{{blueTexturesString}}" />
		</label>

		<div class="options-3d-label">
			Presets
			<button on-click="preset('default')">Mars vs. Earth</button>
			<button on-click="preset('planets')">Planets</button>
			<button on-click="preset('pool')">Pool</button>
			<button on-click="preset('basketvsbeach')">Basket vs. Beach</button>
		</div>

		<label class="options-3d-label">
			<input type="checkbox" checked="{{showAdvanced}}">
			Show advanced options
		</label>

		{{#if showAdvanced}}
			<fieldset>
				<legend>Misc options</legend>

				<label class="options-3d-label {{isChanged('useCorsProxy') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('useCorsProxy')" title="Reset to default">&times;</a>
						Enable custom textures
					</span>
					<input type="checkbox" checked="{{useCorsProxy}}">
					<small class="options-3d-muted">(Proxy all textures through crossorigin.me)</small>
				</label>

				<label class="options-3d-label {{isChanged('disableForEvents') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('disableForEvents')" title="Reset to default">&times;</a>
						Disable for special events
					</span>
					<input type="checkbox" checked="{{disableForEvents}}">
				</label>

				<label class="options-3d-label {{isChanged('textureSelection') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('textureSelection')" title="Reset to default">&times;</a>
						Texture order
					</span>
					<select value="{{textureSelection}}">
						<option value="default">sequential</option>
						<option value="random">random</option>
						<option value="singleRandom">random (one per team)</option>
					</select>
				</label>

				<label class="options-3d-label {{isChanged('velocityCoefficient') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('velocityCoefficient')" title="Reset to default">&times;</a>
						Velocity coefficient
					</span>
					<input type="range" min="0" max="0.2" step="0.01" value="{{velocityCoefficient}}"> {{velocityCoefficient}}

				</label>

				<label class="options-3d-label {{isChanged('rotationCoefficient') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('rotationCoefficient')" title="Reset to default">&times;</a>
						Rotation coefficient
						</span>
					<input type="range" min="0" max="0.03" step="0.001" value="{{rotationCoefficient}}"> {{rotationCoefficient}}
				</label>
			</fieldset>

			<fieldset>
				<legend>3D options</legend>

				<label class="options-3d-label {{isChanged('drawOutline') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('drawOutline')" title="Reset to default">&times;</a>
						Draw outlines
					</span>
					<input type="checkbox" checked="{{drawOutline}}">
					<small class="options-3d-muted">(Draw borders around balls)</small>
				</label>

				<label class="options-3d-label {{isChanged('outlineColorRed') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('outlineColorRed')" title="Reset to default">&times;</a>
						Red outline color
					</span>
					<input type="color" value="{{outlineColorRedHex}}">
				</label>

				<label class="options-3d-label {{isChanged('outlineColorBlue') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('outlineColorBlue')" title="Reset to default">&times;</a>
						Blue outline color
					</span>
					<input type="color" value="{{outlineColorBlueHex}}">
				</label>

				<label class="options-3d-label {{isChanged('ambientLightColor') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('ambientLightColor')" title="Reset to default">&times;</a>
						Ambient light color
					</span>
					<input type="color" value="{{ambientLightColorHex}}">
				</label>

				<label class="options-3d-label {{isChanged('lightColor') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('lightColor')" title="Reset to default">&times;</a>
						Directional light color
					</span>
					<input type="color" value="{{lightColorHex}}">
				</label>

				<label class="options-3d-label {{isChanged('lightPosition') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('lightPosition')" title="Reset to default">&times;</a>
						Directional light position
					</span>
					x <input type="number" min="-1000" max="1000" value="{{lightPosition.0}}">
					y <input type="number" min="-1000" max="1000" value="{{lightPosition.1}}">
					z <input type="number" min="-1000" max="1000" value="{{lightPosition.2}}">
				</label>

				<label class="options-3d-label {{isChanged('lightIntensity') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('lightIntensity')" title="Reset to default">&times;</a>
						Directional light intensity
					</span>
					<input type="range" min="0" max="2" step="0.1" value="{{lightIntensity}}"> {{lightIntensity}}
				</label>

				<div class="options-3d-label {{isChanged('useMaxAnisotropy') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('useMaxAnisotropy')" title="Reset to default">&times;</a>
						Texture.anisotropy
					</span>
					<label>
						<input type="radio" name="{{useMaxAnisotropy}}" value="{{true}}" checked> Max
					</label>
					<label>
						<input type="radio" name="{{useMaxAnisotropy}}" value="{{false}}"> Custom
					</label>
					{{#if !useMaxAnisotropy}}
						<input type="range" min="1" max="16" value="{{customAnisotropy}}"> {{customAnisotropy}}
					{{/if}}
				</div>

				<label class="options-3d-label {{isChanged('minFilter') ? 'changed' : ''}}">
					<span>
						<a href="#" class="reset" on-click="resetOption('minFilter')" title="Reset to default">&times;</a>
						Texture.minFilter
					</span>
					<select value="{{minFilter}}">
						{{#each textureFilters}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</label>
			</fieldset>
		{{/if}}
	</div>
	{{/with}}
</div>
