<div class="options-3d">
	<div class="options-3d-header">
		<a href="#" class="close" on-click="close">&times;</a>
		<div class="actions">
			<button class="reset" on-click="reset-options">Reset</button>
		</div>
		<h1>
			<span class="text-3d">Balls 3D</span> Settings
		</h1>
	</div>

	{{#with options}}
	<div class="options-3d-content">
		<div class="options-3d-preview">
			<label class="options-3d-preview-red">
				{{#each options.texturesRed}}
					<Preview texture="{{.}}" />
				{{/each}}
			</label>

			<label class="options-3d-preview-blue">
				{{#each options.texturesBlue}}
					<Preview texture="{{.}}" />
				{{/each}}
			</label>
		</div>

		<label>
			Red textures
			<input type="text" name="red-textures" class="texture-select" value="{{redTexturesString}}" />
		</label>

		<label>
			Blue textures
			<input type="text" name="blue-textures" class="texture-select" value="{{blueTexturesString}}" />
		</label>

		<label>
			<input type="checkbox" checked="{{showAdvanced}}">
			Advanced options
		</label>

		{{#if showAdvanced}}
			<label>
				<span>Enable remote textures</span>
				<input type="checkbox" checked="{{useCorsProxy}}">
				<small class="options-3d-muted">(Proxy all textures through crossorigin.me)</small>
			</label>

			<label>
				<span>Random texture order</span>
				<input type="checkbox" checked="{{randomOrder}}">
				<small class="options-3d-muted">(Apply selected textures randomly instead of sequentially)</small>
			</label>

			<label>
				<span>Velocity coefficient</span>
				<input type="range" min="0" max="2" step="0.1" value="{{velocityCoefficient}}"> {{velocityCoefficient}}
			</label>

			<label>
				<span>Rotation coefficient</span>
				<input type="range" min="0" max="2" step="0.1" value="{{rotationCoefficient}}"> {{rotationCoefficient}}
			</label>

			<label>
				<span>Ambient light color</span>
				<input type="color" value="{{ambientLightColorHex}}">
			</label>

			<label>
				<span>Light color</span>
				<input type="color" value="{{lightColorHex}}">
			</label>

			<label>
				<span>Light position</span>
				x <input type="number" min="-1000" max="1000" value="{{lightPosition.0}}">
				y <input type="number" min="-1000" max="1000" value="{{lightPosition.1}}">
				z <input type="number" min="-1000" max="1000" value="{{lightPosition.2}}">
			</label>

			<label>
				<span>Light intensity</span>
				<input type="range" min="0" max="2" step="0.1" value="{{lightIntensity}}"> {{lightIntensity}}
			</label>

			<label>
				<span>Texture.anisotropy</span>
				<input type="range" min="1" max="16" value="{{anisotropy}}"> {{anisotropy}}
			</label>

			<label>
				<span>Texture.minFilter</span>
				<select value="{{minFilter}}">
					{{#each textureFilters}}
						<option value="{{value}}">{{label}}</option>
					{{/each}}
				</select>
			</label>
		{{/if}}
	</div>
	{{/with}}
</div>
